html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

input, textarea, button, select, a, div, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: inherit;
}

section {
    height: 100vh;
    width: 100vw;
}

/* --------------------- */

.all-center {
    display: grid;
    place-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.brdr {
    border: 1px solid black;
}

/* --------------------- */

.cover {
    background: #aaaaaa !important;
    color: #ffffff;
}

.page {
    background: #efefef;
}

#magzine {
    position: relative;
    height: 80%;
    width: 65%;
    transition: 1s all;
}

/* mobile portrait */

@media only screen and (max-width: 567px) {
    #magzine{
        width: 95%;
        height: 50%;
    }
}

/* mobile landscape, tab */

@media only screen and (min-width: 568px) and (max-width: 1024px) {
    #magzine{
        width: 80%;
        height: 80%;
    }
}